@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');


*{
    margin: 0;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;  
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.menu{
    color: white;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
}

.fa-code:before {
    content: "\f121";
    text-shadow: 3px 2.5px 3px rgb(0, 0, 0);
    color: rgb(245, 245, 245);
}

.topbar.showmenu{
    top: 0;
}

.topbar{
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
    top: -20rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    transition: all 1s;
}

.lista{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
}

.lista-link{
    font-size: 1rem;
    color: rgb(14, 14, 14);
    padding: 5px;
}

.lista-link:hover{
    font-size: 1.1rem;
    color: rgb(14, 14, 14);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.social-media {
    position: absolute;
    right: 10%;
    color: black;
    display: flex;
    flex-wrap: wrap;
 }

 .social-media i{
    color: rgb(70, 70, 70);
    padding: 0.8rem;
 }

 .social-media i:hover{
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
 }
 
.img-wrap{
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -2;
    position: absolute;
}

.img-wrap img{
    height: 120vh;
    width: 100%;
    opacity: 0.7;
    animation: rolagem 10s infinite;
    position: absolute;
    z-index: -1;
}

@keyframes rolagem {
        0% {transform: translateY(0px);}
    
    50% {transform: translateY(-3rem);}
    
    100% {transform: translateY(0px);}
}

.banner{
    position: absolute;
    left: 30%;
    top: 30%;
    text-shadow: 4px 5px 4px rgb(0, 0, 0);
}

.banner h1{
      color: rgb(255, 255, 255);
      font-size: 2.5rem;
      animation: opacidade 3s;
}

.banner p{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    
    font-weight: 200;
    animation: opacidade 3s;
}

@keyframes opacidade {
    0% {opacity: 0;
        transform: translateY(0px);
    }
    
    50% {transform: translateY(-1.5rem);}
    
    100% { opacity: 1;
        transform: translateY(0px);
    }

}

.sessao-conhecimentos{
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    
}

.sessao-header{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.26); 
}

.sessao-header h1{
    padding: 4rem;

}

.conhecimento-header{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.conhecimento-header i{
    font-size: 2rem;
    color: rgb(59, 59, 59);
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5rem);
    row-gap: 3rem;
    font-size: 0.8rem;
}

.conhecimento:nth-child(1){
    grid-column: 2 / 6;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 11 / 15;
    grid-row: 1 / 3;
    
}

.conhecimento:nth-child(3){
    grid-column: 2 / 6;
    grid-row: 3 / 5;
    
}

.conhecimento:nth-child(4){
    grid-column: 11 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(5){
    grid-column: 2 / 6;
    grid-row: 5 / 6;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 15;
    grid-row: 5 / 6;
}



.projetos{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 20rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
}
.card-info{
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
    color: rgb(202, 202, 202); 
}
.card-info h3{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.card-info p{
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}
.card-info button{
    background-color: rgb(59, 59, 59);
    border: none;
    align-items: center;
    padding: 0.6rem;
    left: 30%;
    position: relative;
    color: white;
}
.card-info button:hover{
    background-color: white;
    transition: 1s;
    color: black;
}

.card-img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px
}

.car-img-op{
    position: absolute;
    opacity: 0.2;

}
.sessao-orcamento {
}
.orcamentos{
    background-color: rgb(156, 146, 146);
    display: flex;
    justify-content: center;
}
.orcamento{
    background-color: red;
    width: 40rem;
    height: 40rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}
.orcamento h1{
    font-size: 4rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.orcamento p{
    padding-left: 4rem;
    height: 4rem;
}
.orcamento button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 5rem;
    font-size: 2.8rem;
    border: none;
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
}
